@theme {
  --color-primary-300: #3b6978;
  --color-primary-500: #245970;
  --color-primary-700: #12384d;

  --color-danger-600: #b42318;

  --color-ink-900: #1e1f2e;

  --color-neutral-100: #f4f4f4;
  --color-neutral-200: #dedede;
  --color-neutral-250: #9c9c9c;
  --color-neutral-300: #969696;
  --color-neutral-400: #838383;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-900: #1e1e1e;
}
