<section
  class="relative min-h-screen grid grid-cols-1 lg:grid-cols-[1fr_1fr] overflow-visible items-center lg:h-screen bg"
>
  <section class="hidden lg:flex relative z-10 justify-center items-center lg:min-h-0 lg:p-0">
    <img
      src="/images/portada.png"
      alt="background"
      class="max-h-[60vh] w-auto max-w-none object-left rounded-3xl"
    />
  </section>

  <section
    class="relative z-10 flex justify-center items-start min-h-screen px-8 py-9.5 lg:items-center lg:min-h-0 lg:p-0"
  >
    <article class="w-full max-w-90 max-h-233 flex flex-col lg:max-h-125">
      <header class="flex flex-col items-center text-center">
        <h1 class="font-semibold text-ink-900 text-[32px] leading-10.5 text-center">
          Iniciar sesión
        </h1>
        <p class="text-neutral-250 text-center w-68.75 mx-auto sm:w-auto lg:hidden">
          Descubre las ultimas tendencias de moda
        </p>
      </header>

      <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <section>
          <div class="flex items-center justify-between mt-16 lg:mt-8">
            <label
              class="block font-medium text-md mt-16 lg:mt-8"
              [ngClass]="
                emailCtrl.touched && emailCtrl.invalid
                  ? 'text-danger-600'
                  : emailValid
                    ? 'text-primary-500'
                    : 'text-neutral-600'
              "
            >
              E-mail
            </label>

            @if (
              emailCtrl.touched && (emailCtrl.errors?.['required'] || emailCtrl.errors?.['email'])
            ) {
              <span class="text-sm text-danger-600 ml-3 whitespace-nowrap">
                {{
                  emailCtrl.errors?.['required']
                    ? 'El email es obligatorio.'
                    : emailCtrl.errors?.['email']
                      ? 'El formato del e-mail no es válido.'
                      : ''
                }}
              </span>
            }
          </div>

          <div
            class="flex items-center border-b"
            [ngClass]="
              emailCtrl.touched && emailCtrl.invalid
                ? 'border-danger-600'
                : emailValid
                  ? 'border-primary-500'
                  : 'border-neutral-200'
            "
          >
            <input
              type="email"
              formControlName="email"
              placeholder="usuario@gmail.com"
              class="w-full py-3 text-sm placeholder:text-neutral-300 focus:outline-none"
            />

            @if (emailValid) {
              <span
                class="ml-2 w-5 h-5 rounded-full bg-primary-300 lg:bg-primary-500 flex items-center justify-center shrink-0"
              >
                <app-icon name="icon-check" class="w-3 h-3 text-white"></app-icon>
              </span>
            }
          </div>
        </section>

        <section>
          <div class="flex items-center justify-between">
            <label
              class="block font-medium text-md"
              [ngClass]="
                passwordCtrl.touched && passwordCtrl.invalid
                  ? 'text-danger-600'
                  : passwordValid
                    ? 'text-primary-500'
                    : 'text-neutral-600'
              "
            >
              Contraseña
            </label>

            @if (passwordCtrl.touched && passwordCtrl.invalid) {
              <span class="text-sm text-danger-600 ml-3 whitespace-nowrap">
                {{ passwordCtrl.errors?.['required'] ? 'La contraseña es obligatoria.' : '' }}
              </span>
            }
          </div>

          <div
            class="flex items-center border-b"
            [ngClass]="
              passwordCtrl.touched && passwordCtrl.invalid
                ? 'border-danger-600'
                : passwordValid
                  ? 'border-primary-500'
                  : 'border-neutral-200'
            "
          >
            <input
              [type]="showPassword() ? 'text' : 'password'"
              formControlName="password"
              placeholder="Introduce aquí tu contraseña"
              class="w-full py-3 text-sm placeholder:text-neutral-300 focus:outline-none"
            />
            <button
              type="button"
              (click)="togglePassword()"
              class="text-neutral-300 hover:text-neutral-400 ml-2"
              aria-label="Mostrar/ocultar contraseña"
            >
              <app-icon name="eye" class="w-4 h-4"></app-icon>
            </button>
          </div>
        </section>

        <button
          type="submit"
          [disabled]="isSubmitting()"
          class="w-full h-11.75 mt-13 bg-primary-300 text-white font-semibold rounded-md flex items-center justify-center disabled:opacity-60 disabled:cursor-not-allowed lg:bg-primary-500 lg:mt-8.5 lg:w-68.75 lg:mx-auto"
        >
          {{ isSubmitting() ? 'Entrando...' : 'Empezar' }}
        </button>

        <div class="flex justify-end">
          <a
            routerLink="/forgot-password"
            class="text-sm text-primary-500 transition-colors hover:text-primary-700 hover:underline"
          >
            Recuperar contraseña
          </a>
        </div>

        <p class="text-center text-sm text-neutral-600">
          ¿Eres nuevo?
          <a
            routerLink="/register"
            class="font-medium text-primary-500 transition-colors hover:text-primary-700 hover:underline"
          >
            Crea tu cuenta
          </a>
        </p>
      </form>
    </article>
  </section>
</section>
