@theme {
  --default-font-family: var(--font-poppins);
}
:root {
  --p-select-option-selected-background: var(--color-neutral-150) !important;
  --p-select-option-selected-color: var(--color-neutral-150) !important;
  --p-select-option-selected-focus-background: var(--color-neutral-150) !important;
  --p-select-option-selected-focus-color: var(--color-neutral-150) !important;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-500) transparent;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-500);
  border-radius: 999px;
}
