<ng-template #label>
  <ng-content select="[slot=label]"></ng-content>
</ng-template>

<ng-template #list>
  <ng-content select="[slot=list]"></ng-content>
</ng-template>

<div class="relative" (clickOutside)="close()">
  <button
    type="button"
    (click)="toggle()"
    [attr.aria-expanded]="isOpen()"
    [class]="
      buttonClass() ||
      'text-2xs flex items-center justify-between gap-1.25 border border-primary-500 rounded-base px-2.5 py-1.5 bg-white text-primary-500 cursor-pointer'
    "
  >
    <ng-container *ngTemplateOutlet="label"></ng-container>
    @if (showChevron()) {
      <app-icon
        name="chevron"
        class="w-4 h-4 text-primary-500 shrink-0 transition duration-200"
        [class.rotate-180]="isOpen()"
      />
    }
  </button>

  @if (isOpen()) {
    <ul
      class="absolute left-0 top-full mt-0.5 min-w-full border border-primary-500 bg-white rounded-base shadow z-10 overflow-hidden text-primary-500"
    >
      <ng-container *ngTemplateOutlet="list"></ng-container>
    </ul>
  }
</div>
