<div class="relative" (clickOutside)="close()">
  <button
    type="button"
    (click)="toggle()"
    [attr.aria-expanded]="isOpen()"
    aria-haspopup="true"
    aria-label="Menú de usuario"
    class="flex items-center gap-2.5 transition-colors focus:outline-none cursor-pointer group"
  >
    <app-icon name="user" class="w-7 h-7 text-white" />
  </button>

  @if (isOpen()) {
    <section
      class="absolute right-0 z-50 mt-3 w-80 min-h-main origin-top-right bg-neutral-100 rounded-lg shadow-xl animate-in fade-in zoom-in-95 duration-200 font-medium overflow-hidden"
    >
      <div class="p-6 space-y-2">
        <header class="text-center">
          <p class="text-slate-500 text-sm mb-2 font-normal text-start">Actualmentente en</p>

          <figure class="relative inline-block">
            @if (authService.currentUser()?.avatarUrl) {
              <img
                [src]="authService.currentUser()?.avatarUrl"
                [alt]="'Foto de perfil de ' + authService.currentUser()?.email"
                class="w-28 h-28 rounded-full object-cover border-4 border-white shadow-md mx-auto"
              />
            } @else {
              <span
                class="flex h-28 w-28 items-center justify-center rounded-full border-4 border-white bg-primary-50 text-primary-500 shadow-md mx-auto"
              >
                <app-icon name="user" class="w-12 h-12" />
              </span>
            }
          </figure>

          <address class="mt-2 not-italic">
            <small class="block text-gray-500 text-xs uppercase tracking-wider">
              {{ authService.currentUser()?.rol }}
            </small>
            <strong class="block font-semibold text-dark-900 break-all">
              {{ authService.currentUser()?.email }}
            </strong>
          </address>
        </header>

        <nav class="flex flex-col gap-2">
          <a
            routerLink="/settings/profile"
            (click)="close()"
            class="flex items-center justify-center w-full px-2.5 py-1 text-sm text-primary-500 border border-primary-500 rounded-full"
          >
            Gestionar tu cuenta
          </a>

          <button
            type="button"
            (click)="handleLogout()"
            class="flex items-center justify-center gap-2 w-full px-2.5 py-1 text-sm text-white bg-primary-500 rounded-full hover:bg-primary-800 transition-all shadow-sm cursor-pointer"
          >
            <app-icon name="logout" class="w-4 h-4" />
            <span>Cerrar sesión</span>
          </button>
        </nav>
      </div>
    </section>
  }
</div>
