@if (toast().visible) {
  <section
    class="pointer-events-none fixed bottom-6 left-1/2 z-50 flex w-full max-w-[1920px] -translate-x-1/2 justify-center px-4"
  >
    <article
      class="pointer-events-auto w-full max-w-90.25 rounded-[10px] bg-[#FDEAEA] p-5 shadow-[0_8px_24px_rgba(0,0,0,0.08)]"
    >
      <div class="flex items-start gap-4">
        <div
          class="flex h-6 w-6 shrink-0 items-center justify-center rounded-md bg-[#E9B8B5] text-[#D14B3D]"
        >
          <app-icon name="icon-close" class="h-3.5 w-3.5"></app-icon>
        </div>

        <div class="min-w-0 flex-1">
          <p class="font-poppins text-[22px] font-semibold leading-6 text-[#D14B3D]">
            {{ toast().title }}
          </p>

          <p class="mt-2 font-poppins text-sm leading-5 text-[#D14B3D]">
            {{ toast().message }}
          </p>
        </div>

        <button
          type="button"
          (click)="close()"
          aria-label="Cerrar notificación"
          class="shrink-0 text-[#D88A84] transition hover:text-[#D14B3D]"
        >
          <app-icon name="icon-close" class="h-5 w-5"></app-icon>
        </button>
      </div>
    </article>
  </section>
}
